spring:
  profiles:
    active: ${ENVIRONMENT_PROFILE_VALUE:local}
  application:
    name: api-food-users
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
user: admin
pass: admin
