name: CI/CD

on:
  push:
    branches: [ develop, main ]
  workflow_dispatch: {}

jobs:
  call-reusable-build-and-test-workflow:
    uses: rachelkozlowsky/nested-reusable-java-maven-eks/.github/workflows/build.yml@develop
    with:
      java_version: "21"
      app_name: "pos-tech-g57-app-users"
      run_validation_and_lint: true
      run_build_and_test: true
      run_gates: true
      run_docker_build_and_push: true
      run_deploy: true
    secrets: inherit
