name: CI/CD

on:
  push:
    branches: [ develop ]
  workflow_dispatch: {}

jobs:
  call-reusable-build-workflow:
    uses: rachelkozlowsky/nested-reusable-java-maven-eks/.github/workflows/build.yml@develop
    with:
      java_version: "21"
      app_name: "pos-tech-g57-app-users"
      run_validation_and_lint: true
      run_build_and_test: true
    secrets: inherit

  sonar-gates:
    needs: call-reusable-build-workflow
    if: always()
    uses: rachelkozlowsky/nested-reusable-java-maven-eks/.github/workflows/gates.yml@develop
    with:
      run_sonar_scan: true
    secrets: inherit